@media screen and (min-width: 1511px) and (max-width: 1980px){
    .habits-listbox{
        background-color: rgb(24, 24, 24);
        color: rgb(229, 229, 229);
        padding: 15px;
        /* exclduded width and height to use the grid cell/area size */
/*         width: 24%;
        height: 70%; */
        /* display: block; */
        margin-left: 10px;
        grid-area: list;
        border-radius: 20px;
        
    }
    .habits-listbox > .habits-listbox-box1{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 25px;
        
    }
    .habits-listbox > .habits-listbox-box1 > .add-btn-css{
        background-color: rgb(72, 138, 196);
        border: none;
        outline: none;
        cursor: pointer;
        padding: 5px 16px;
        transition: 0.3s;
        font-size: 14px;
        color: white;
        border-radius: 5px;
    }
    .habits-listbox > .habits-listbox-box2{
        /* background-color: rgba(255, 255, 255, 0.282); */
    }
    .habits-listbox > .habits-listbox-box2 > .habits-listbox-list-habits{
        list-style-type: none;
        
        padding-left: 0px;
    }
    .habits-listbox > .habits-listbox-box2 > .habits-listbox-list-habits > li{
        background-color: rgba(255, 255, 255, 0.138);
        padding: 15px;
        margin: 4px;
        cursor: pointer;
        border-radius: 6px;

    }
    .habits-listbox > .habits-listbox-box2 > .habits-listbox-list-habits > li:hover{
        background-color: rgba(255, 255, 255, 0.242);
    }
    .habits-listbox > .habits-listbox-box2 > .habits-listbox-list-habits > li > .habit-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        
    }
    .habits-listbox > .habits-listbox-box2 > .habits-listbox-list-habits > li > .habit-item > .habit-title-box{
        /* background-color: red; */
        width: 60%;
    }
    .habits-listbox > .habits-listbox-box2 > .habits-listbox-list-habits > li > .habit-item > .habit-title-box > p{
        font-size: 15px;
        text-align: justify;
    }

    .habits-listbox > .habits-listbox-box2 > .habits-listbox-list-habits > li > .habit-item > .btn-boxes > .edit-btn-css{
        background-color: rgba(72, 196, 72, 0.321);
        border: none;
        outline: none;
        cursor: pointer;
        padding: 5px 16px;
        transition: 0.3s;
        font-size: 14px;
        color: white;
        margin: 2px;
        border-radius: 5px;
    }

    .habits-listbox > .habits-listbox-box2 > .habits-listbox-list-habits > li > .habit-item > .btn-boxes > .remove-btn-css{
        background-color: rgba(248, 72, 72, 0.352);
        border: none;
        outline: none;
        cursor: pointer;
        padding: 5px 10px;
        transition: 0.3s;
        font-size: 14px;
        color: white;
        margin: 2px;
        border-radius: 5px;
    }

}