@media screen and (min-width: 1511px) and (max-width: 1980px){
    .top-main-container{
        display: grid;
/*         grid-template-areas: "profile navbar navbar"
                            "profile panel panel"
                            "profile panel panel"; */
        grid-template-areas: "navbar navbar navbar"
                            "panel panel panel"
                            "panel panel panel"; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0fr 1fr 3fr;
        height: 100vh;
    }
}