
@media screen and (min-width: 1500px) and (max-width: 1980px){
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(26, 26, 26);
        color: rgb(225, 225, 225);
        align-items: center;
        
        /* GRID */
        grid-area: navbar;
    }
    .navbar > .user-bar-box{

        display: flex;
        justify-content: flex-end;
        
        padding: 0px 0px 0px 10px;
        align-items: center;

    }
    .navbar > .user-bar-box > p{
        margin-right: 5px;
    }
    .navbar > .user-bar-box > button{
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 13px;
        transition: 0.3s;
        font-size: 12px;
        background-color: rgb(80, 80, 80);
        color: white;
    }
}