@media screen and (min-width: 1511px) and (max-width: 1980px){
    .panel-parent-container{
        grid-area: box1;
        background-color: rgb(24, 24, 24);
        color: rgb(229, 229, 229);
        padding: 15px;
        margin-left: 10px;
        border-radius: 20px;
        border: 0.5px solid rgb(111, 209, 255);
    }
}